/*  your css code here. If applicable */


.book-library{
	display:flex-inline;
	justify-content:center;
	align-items:center;
	box-shadow: 3px 3px 5px 6px #ccc;
	background-color:#f8f8f8;
}
h1{
	height:50px;
	background-color:#f8f8f8;
	text-align: center;
}
.d{
	 font-weight: 900;
}
.c{
  display: block;
  width: 90%;
  border: none;
  background-color: #2ecc71;
  padding: 14px 28px;
  font-size: 16px;
	margin-left:auto;
	margin-right: auto;
  cursor: pointer;
  text-align: center;
	color: white;
	border-radius: 5px;
}
.d,.x{
	margin-left:auto;
	margin-right:auto;
}

.x{
	color:#777777;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}